{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
<section class="top-about-us">

    <div class="container">
    
        <div class="row">

            <h1>Test</h1>

        </div>
    
    </div>

</section>
{% endblock %}

{% block script %}{% endblock %}