{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block stylesheets %}
<!-- AboutUs's CSS -->
<link rel="stylesheet" href="css/aboutUs.css">
{% endblock %}

{% block body %}
<section class="top-about-us">

    <div class="container">
    
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">

                <div class="d-flex text-center justify-content-center flex-wrap">
        
                    <h1 class="my-2">Hi, We are Edudev !</h1>

                    <h2 class="my-2">Nous voulons proposer aux étudiants tech, des projets innovants et collaboratifs pour pouvoir pratiquer et accroître leurs compétences professionnelles.</h2>

                    <p class="price col-12 text-muted mt-4">C'est gratuit en plus, vous vous rendez compte !?</p>

                </div>

            </div>
        
        </div>

    </div>

</section>

<section class="section-about-us">

    <div class="container">

        <div class="row">

            <div class="about-us-content col-10 col-md-8 d-flex flex-wrap justify-content-center align-items-center mx-auto border-bottom">

            <h3 class="title-section mt-2 mb-4">Pour tous les étudiants, une place pour développer des projets techs innovants</h3>

            <p>Edudev est une place qui permet aux étudiants de tous niveaux de pouvoir déposer des projets tech ou de rejoindre l'un de ceux ayant été déjà présenté par d'autres membres. Fait et pensé par des étudiants, Edudev vise à permettre à chacun de pouvoir mettre en pratique les différentes compétences qu'il aura pu acquérir au cours de son cycle d'apprentissage.</p>

            </div>

        </div>

    </div>
    
</section>

<section class="section-about-us">

    <div class="container">

        <div class="row">

            <div class="about-us-content col-10 col-md-8 d-flex flex-wrap justify-content-center align-items-center mx-auto border-bottom">

            <h3 class="title-section mt-2 mb-4">Les techs les plus populaires et les plus utilisées en milieu pro</h3>

            <p>Tous les projets présentés sur Edudev ont tous un point en commun : ils utilisent des technologies et des outils innovants. Que ce soit des languages de programmation, des outils collaboratifs ou encore des plateformes cloud, toutes ces technologies représente le présent et le futur de la tech. Chacun y trouvera son compte !</p>

            </div>

        </div>

    </div>
    
</section>

<section class="section-about-us">

    <div class="container">

        <div class="row">

            <div class="about-us-content col-10 col-md-8 d-flex flex-wrap justify-content-center align-items-center mx-auto border-bottom">

            <h3 class="title-section mt-2 mb-4">Des étudiants issus d'écoles supérieurs diverses et variées</h3>

            <p>Selon nous, un projet est avant tout une histoire humaine. Que ce soit dans le monde de la tech ou ailleurs, plus les expériences des individus composant une équipe sont variées, plus le projet pourra en ressortir grandit. C'est pourquoi, vous pourrez retrouver sur Edudev des étudiants de niveau Bac à Bac+5 (et même plus), des personnes ayant suivi des formations professionnelles ou universitaire. Ici, seul votre niveau et votre sérieux compte !</p>

                <div class="school container">

                    <div class="row">

                        <div class="col-12 mx-auto d-flex flex-wrap my-2 justify-content-between">

                            <div class="col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex flex-wrap justify-content-center align-items-center">
                                <img class="university-img" src="images/oclock.png" alt="">
                                <p class="col-12 m-0 text-center fw-bold">O'Clock</p>
                            </div>

                            <div class="col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex flex-wrap justify-content-center align-items-center">
                                <img class="university-img" src="images/openclassroom.png" alt="">
                                <p class="col-12 m-0 text-center fw-bold">OpenClassrooms</p>
                            </div>

                            <div class="col-12 col-sm-5 col-xl-2 mx-2 my-3 bm-3 m-md-3 d-flex flex-wrap justify-content-center align-items-center">
                                <img class="university-img" src="images/essec.png" alt="">
                            </div>

                            <div class="col-12 col-sm-5 col-xl-2 mx-2 my-3 m-md-3 d-flex flex-wrap justify-content-center align-items-center">
                                <img class="languages-img" src="images/eni.jpg" alt="">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    
</section>

<section class="section-about-us">

    <div class="container">

        <div class="row">

            <div class="about-us-content col-10 col-md-8 d-flex flex-wrap justify-content-center align-items-center text-center mx-auto">

            <h3 class="title-section mt-2 mb-4">Rejoindre les équipes Edudev</h3>

            <p>Vous souhaitez rejoindre Edudev et faire en sorte de faire évoluer le projet vers le meilleur ? N'hésitez pas à postuler, nous vous attendons nombreux</p>

            <a class="btn btn-success" href="">Postuler</a>

            </div>

        </div>

    </div>
    
</section>
{% endblock %}

{% block script %}

{% endblock %}