{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<section class="top-about-us">

    <div class="container">
    
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">

                <div class="d-flex text-center justify-content-center flex-wrap">
        
                    <h1 class="my-2">Hi, We are Edudev !</h1>

                    <h2 class="my-2">Nous voulons proposer aux étudiants tech, des projets innovants et collaboratifs pour pouvoir pratiquer et accroître leurs compétences professionnelles.</h2>

                    <p class="price col-12 text-muted mt-4">C'est gratuit en plus, vous vous rendez compte !?</p>

                </div>

            </div>
        
        </div>

    </div>

</section>

<section class="tech-section">

    <div class="container">

        <div class="row">

            <div class="col-10 col-md-8 d-flex flex-wrap justify-content-center align-items-center mx-auto border-bottom pb-5">

            <h3 class="title-section mt-2 mb-4">Pour tous les étudiants, une place pour développer des projets techs innovants</h3>

            <p>Edudev est une place qui permet aux étudiants de tous niveaux de pouvoir déposer des projets tech ou de rejoindre l'un de ceux ayant été déjà présenté par d'autres membres. Fait et pensé par des étudiants, Edudev vise à permettre à chacun de pouvoir mettre en pratique les différentes compétences qu'il aura pu acquérir au cours de son cycle d'apprentissage.</p>

            </div>

        </div>

    </div>
    
</section>
{% endblock %}

{% block script %}

{% endblock %}