{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="top-section d-flex justify-content-center align-items-center">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">

                    <div class="d-flex justify-content-center flex-wrap">

                        <h1 class="text-center my-2">Des projets tech pour pratiquer</h1>

                        <h6 class="text-center my-2">Rentrez en collaboration avec d'autres étudiants pour pouvoir développer vos compétences tech et élargir votre réseau.</h6>

                        <a class="btn btn-success mt-3 mb-1 col-9 col-md-6 col-lg-3" href="">Déposer un projet</a>

                        <p class="price col-12 text-center text-muted">Et bien sûr, tout est gratuit.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="tech-section">

        <div class="container">

            <div class="row">

                <h2 class="title-section text-center my-2">Des Technologies Populaires</h2>

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/python.png" alt="">
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/javascript.png" alt="">
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/swift.png" alt="">
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/react.png" alt="">
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/java.png" alt="">
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/symfony.png" alt="">
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/gcp.png" alt="">
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/azure.png" alt="">
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/github.png" alt="">
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/flutter.png" alt="">
                    </div>

                    <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/csharp.png" alt="">
                    </div>

                    <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/figma.png" alt="">
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/gitlab.png" alt="">
                    </div>

                    <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/angular.png" alt="">
                    </div>

                    <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/docker.png" alt="">
                    </div>

                    <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/nodejs.png" alt="">
                    </div>

                    <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/laravel.png" alt="">
                    </div>

                    <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                        <img class="languages-img" src="images/rubyonrails.png" alt="">
                    </div>
            
                </div>

            </div>

        </div>
    
    </section>

    <section class="tech-section">

        <div class="container">

            <div class="row">

                <h2 class="title-section text-center my-2">Un Mode de Fonctionnement Simple et Optimisé</h2>

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <div class="edudev-features p-3 col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Exposez votre projet</h5>
                            <p class="m-0">Décrivez en détail votre projet : que ce soit ses objectifs, son statut actuel, l'équipe mise en place (ou souhaité) ou encore les technologies utilisées, toutes les informations utiles vous seront demandées à cette étape.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-3 col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Énoncez vos besoins</h5>
                            <p class="m-0">Vous recherchez un développeur React ? Un développeur Flutter ? Un expert Docker ? Ou encore un webdesigner ? Définissez les besoins de votre projet pour plus de clareté et pour le rendre plus attractif aux yeux des autres étudiants.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-3 col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Collaborez entre étudiants</h5>
                            <p class="m-0">Les étudiants intéressés par votre projet pourront auront alors accès à toutes ces informations et pourront vous contacter pour potentiellement démarrer une nouvelle collaboration et faire avancer vos idées.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-3 col-12 col-sm-5 col-xl-2 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Atteignez vos objectifs</h5>
                            <p class="m-0">On a tous connus ces projets qui ne verront jamais le jour, par manque de temps ou de compétences. Entourez-vous pour pouvoir les terminer, remplir votre portfolio et faire monter en flèches vos compétences.</p>
                        </div>
                    </div>
            
                </div>

            </div>

        </div>
    
    </section>

{% endblock %}
