{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="top-section d-flex justify-content-center align-items-center">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">

                    <div class="d-flex justify-content-center flex-wrap">

                        <h1 class="text-center my-2">Des projets tech pour pratiquer</h1>

                        <h6 class="text-center my-2">Rentrez en collaboration avec d'autres étudiants pour pouvoir développer vos compétences tech et élargir votre réseau.</h6>

                        <a class="btn btn-success mt-3 mb-1 col-9 col-md-6 col-lg-3" href="">Déposer un projet</a>

                        <p class="price col-12 text-center text-muted">Et bien sûr, tout est gratuit.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="home-section">

        <div class="container">

            <h2 class="title-section text-center my-2">Des Technologies Populaires</h2>

            <div class="mx-auto">

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>

            <div class="col flex align-items-center justify-content-center">
                <img src="" alt="" width="12O" heigth="120">
            </div>
            
            </div>

        </div>
    
    </section>

{% endblock %}
