{% extends 'base.html.twig' %}

{% block stylesheets %}
<!-- Toggle's CSS -->
<link rel="stylesheet" href="css/toggle.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!-- Head of the Home Page -->

<section class="top-section d-flex justify-content-center align-items-center">

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">

                <div class="d-flex justify-content-center flex-wrap">

                    <h1 class="text-center my-2">Des projets tech pour pratiquer</h1>

                    <h2 class="text-center my-2">Rentrez en collaboration avec d'autres étudiants pour pouvoir développer vos compétences tech et élargir votre réseau.</h6>

                    <a class="btn btn-success mt-3 mb-1 col-9 col-md-6 col-lg-3" href="">Déposer un projet</a>

                    <p class="price col-12 text-center text-muted">Et bien sûr, tout est gratuit.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Section about the highlighted project -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center my-2">Le Projet à la Une</h3>

            <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                <div class="projects p-3 col-12 col-xl-9 m-2 m-md-3 d-flex flex-wrap align-items-center text-center">

                    <!-- Project Image -->
                    <div class="col-12 col-md-5 mb-3 m-md-0 d-flex align-items-center justify-content-center">
                        <img class="project-image col-6 col-md-10" src="images/technologies/javascript.png" alt="">
                    </div>

                    <!-- Project Details -->
                    <div class="col-12 col-md-5 m-auto">
                        <h4 class="fw-bold">Edudev</h5>
                        <p>Plateforme de mise en en relation d'étudiants dans le but de travailler ensemble sur des projets tech !</p>
                        <h5 class="fw-bold">Technologie principale</h5>
                        <p>Symfony</p>
                        <h5 class="fw-bold">Stack Technique</h5>
                        <p>Javascript, Twig, Bootstrap</p>
                        <h5 class="fw-bold">Avancé du projet</h5>
                        <p>En cours de développement</p>
                        <h5 class="fw-bold">Profil recherché</h5>
                        <p>Webdesigner, Scrum Master, Développeur Front-end</p>
                        <a class="btn btn-success" href="{{ path('app_project') }}">Découvrir</a>
                    </div>

                </div>
            
            </div>

        </div>

    </div>
    
</section>

<!-- Section about the Edudev's profit -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center mt-2 mb-4">Une Utilisation Simple et Optimisé</h3>

            <!-- Toggle to know what informations need to be at screen -->

            <div class="container my-2">

                <div class="switches-container">

                    <input type="radio" id="switchProjectOwner" name="switchUser" value="ProjectOwner" checked="checked" />
                    <input type="radio" id="switchProjectParticipant" name="switchUser" value="ProjectParticipant" />

                    <label for="switchProjectOwner" id="switchProjectOwnerLabel">Je propose</label>
                    <label for="switchProjectParticipant" id="switchProjectParticipantLabel">Je cherche</label>

                    <div class="switch-wrapper">

                        <div class="switch">
                            <div>Je propose</div>
                            <div>Je cherche</div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Informations for owner's projects (Display bu default)-->

            <div class="owner-features">

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <div class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Exposez votre projet</h5>
                            <p class="m-0">Décrivez en détail votre projet : que ce soit ses objectifs, son statut actuel, l'équipe mise en place (ou souhaité) ou encore les technologies utilisées, toutes les informations utiles vous seront demandées à cette étape.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Énoncez vos besoins</h5>
                            <p class="m-0">Vous recherchez un développeur React ? Un développeur Flutter ? Un expert Docker ? Ou encore un webdesigner ? Définissez les besoins de votre projet pour plus de clareté et pour le rendre plus attractif aux yeux des autres étudiants.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Collaborez entre étudiants</h5>
                            <p class="m-0">Les étudiants intéressés par votre projet pourront auront alors accès à toutes ces informations et pourront vous contacter pour potentiellement démarrer une nouvelle collaboration et faire avancer vos idées.</p>
                        </div>
                    </div>

                    <div class="edudev-features p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Atteignez vos objectifs</h5>
                            <p class="m-0">On a tous connus ces projets qui ne verront jamais le jour, par manque de temps ou de compétences. Entourez-vous pour pouvoir les terminer, remplir votre portfolio et faire monter en flèches vos compétences.</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Informations for participant projects (Display if the user click on the toggle) -->

            <div class="participant-features d-none">

                <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                    <div class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Renseignez votre profil</h5>
                            <p class="m-0">Décrivez en détail vos compétences et les technologies sur lesquelles vous souhaitez travailler. Que ce soit sur des langages de programmation ou des outils spécifiques, pratiquez et soyez plus attirants sur le marché du travail.</p>
                        </div>
                    </div>

                    <div class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Découvrez des projets</h5>
                            <p class="m-0">Retrouvez une liste de projets ou d'idées liées à la technologie sur lesquels vous pourrez travailler en collaboration avec d'autres étudiants. Participez à des programmes innovants et remplissez votre portfolio pour gagner en crédibilité.</p>
                        </div>
                    </div>

                    <div class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Augmentez vos compétences</h5>
                            <p class="m-0">Vous souhaitez améliorer vos skills en développement back ? En développement mobile ? Ou tout simplment vous initier à de nouveaux outils ? Trouvez le projet qui correspond à vos objectifs et commencez dès maintenant cette nouvelle aventure.</p>
                        </div>
                    </div>

                    <div class="edudev-student p-4 col-12 col-sm-5 m-2 m-md-3 d-flex justify-content-center">
                        <div>
                            <h5 class="fw-bold">Élargissez votre réseau</h5>
                            <p class="m-0">Emmagasinez de l'expérience professionnelle tout en travaillant avec de nouvelles personnes, apprenez de leurs expériences respectives, partagez les vôtre et construisez ensemble de réelles relations professionnelles et durables.</p>
                        </div>
                    </div>

                </div>
            
            </div>

        </div>

    </div>
    
</section>

<!-- Section famous technologies on Edudev -->

<section class="tech-section">

    <div class="container">

        <div class="row">

            <h3 class="title-section text-center mt-2 mb-4">Des Technologies Populaires</h3>

            <div class="mx-auto d-flex flex-wrap my-2 justify-content-center">

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/python.png" alt="">
                </div>

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/javascript.png" alt="">
                </div>

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/swift.png" alt="">
                </div>

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/react.png" alt="">
                </div>

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/java.png" alt="">
                </div>

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/symfony.png" alt="">
                </div>

                <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/gcp.png" alt="">
                </div>

                <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/azure.png" alt="">
                </div>

                <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/github.png" alt="">
                </div>

                <div class="col-sm-4 col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-sm-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/flutter.png" alt="">
                </div>

                <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/csharp.png" alt="">
                </div>

                <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/figma.png" alt="">
                </div>
                    
                <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/gitlab.png" alt="">
                </div>

                <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/angular.png" alt="">
                </div>

                <div class="col-md-3 col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-md-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/docker.png" alt="">
                </div>

                <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/nodejs.png" alt="">
                </div>

                <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/laravel.png" alt="">
                </div>

                <div class="col-lg-2 col-xxl-1 m-2 m-md-3 d-none d-lg-flex justify-content-center align-items-center">
                    <img class="languages-img" src="images/technologies/rubyonrails.png" alt="">
                </div>
            
            </div>

        </div>

    </div>
    
</section>

<section class="tech-section">

    <div class="container">

        <div class="row text-center">

            <h3 class="title-section mt-2 mb-4">Soutenez-nous</h3>

            <p>Supportez Edudev sur Patreon et aidez-nous à rendre ce projet encore meilleur.</p>

            <p>Votre soutien veut dire beaucoup pour nous.</p>

            <div class="col-12 d-flex justify-content-center align-items-center">
                <a class="col-9 col-md-6 col-lg-4 col-xl-3 btn btn-success" href="">Supporter Edudev sur Patreon</a>
            </div>

        </div>

    </div>

</section>

{% endblock %}

{% block script %}
<!-- Script for the Toggle -->
<script src="js/toggle.js"></script>
{% endblock %}
