{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}

<section class="use-policy">

    <div class="container">
    
        <div class="row">
        
            <h1 class="my-5 text-center">Conditions d'utilisation</h1>

            <p>Les présentes Conditions générales d’utilisation entrent en vigueur le 23 septembre 2023.
            Bienvenue dans Edudev! Les présentes Conditions générales d’utilisation (les « Conditions »)
            s’appliquent à votre (« vous », « votre » ou « vos ») utilisation de la plateforme d‘ échange de
            projets technologique d’ Edudev (le « Service »).En utilisant le Service, vous acceptez que les
            présentes Conditions constituent un accord juridiquement contraignant entre vous et l’Entité
            contractante de Edudev identifiée aux présentes (« Edudev »).
            Chez Edudev, nous aimons simplifier les choses complexes ! Vous trouverez des explications
            simples de nos Conditions dans ces encadrés, mais gardez à l’esprit que seules les Conditions
            figurant en dehors de ces encadrés sont juridiquement contraignantes.<p>

            <h2>Vue d’ensemble</h2></br></br>

            <p> Edudev est une plateforme d’échange de projet technologique qui permet à ses membres de créer
                de projet technologique et d’entrer en contact avec des personnes intéressées (un « Projet »).
                Lorsque vous utilisez le Service, vous avez accès à tout un panel de contenus fournis par Edudev.
                Vous avez également la possibilité d’importer votre propre contenu (le « Contenu utilisateur »),
                dont vous avez pleinement le contrôle et la responsabilité.
                Le Service est mis à disposition sur Edudev.com. Votre utilisation du Service est soumise aux
                présentes Conditions d’Edudev. En utilisant le Service, vous reconnaissez avoir pris connaissance
                de la Politique de confidentialité de Edudev.
                Vous pouvez utiliser le Service uniquement si vous être en mesure de conclure un contrat
                contraignant avec Edudev et si vous êtes légalement autorisé à le faire. En utilisant le service, vous
                déclarez et garantissez être pleinement habilité à accepter et à être lié par les présentes
                Conditions, et à exécuter pleinement toutes vos obligations en vertu des présentes.</p></br></br>

            <h2>Utilisation du Service</h2></br></br>

            <p><span class="fw-bold">Conditions d’âge.</span> Les enfants ne peuvent pas accéder au Service ni l’utiliser, sauf si leur utilisation
            est directement autorisée par leur parent, leur tuteur ou un autre adulte autorisé (tel qu’un
            enseignant) qui accepte d’être lié par les présentes Conditions. Aux fins des présentes Conditions,
            un enfant est une personne âgée de moins de 13 ans (ou l’âge légal minimum requis pour donner
            son consentement au traitement de ses données à caractère personnel dans le pays où il se
            trouve).</p></br></br>

            <p><span class="fw-bold">Accès au Service.</span> Sous réserve de votre respect des présentes Conditions, il vous est accordé une
            licence non exclusive, limitée, non transférable et librement révocable pour accéder au Service et
            l’utiliser à des fins professionnelles ou personnelles. Edudev se réserve tous les droits qui ne sont
            pas expressément accordés en vertu des présentes Conditions. Chaque personne doit avoir un
            compte unique et vous êtes responsable de toute activité menée sur votre compte.</p></br></br>

            <p><span class="fw-bold">Anti-discrimination.</span> Edudev ne cautionne et ne saurait tolérer que son Service soit utilisé dans le
            but de discriminer autrui, en particulier sur la base de l’appartenance ethnique, la religion, le sexe,
            le genre, l’orientation sexuelle, l’âge, le handicap, l’ascendance ou l’origine nationale. Vous n’êtes
            pas autorisé à utiliser le Service d’une manière qui inciterait, encouragerait, soutiendrait, ou serait

            susceptible d’inciter, encourager ou soutenir une telle discrimination, et vous ne sauriez utiliser le
            Service pour inciter ou encourager une quelconque hostilité ou violence.</br></br>
            Nous voulons agir dans la bienveillance. Aussi, nous ne tolérons pas que Edudev soit utilisé de
            manière inappropriée.</p></br></br>

            <p><span class="fw-bold">Restrictions d’utilisation du Service.</span> Vous ne sauriez, vous-même ou par l’intermédiaire d’un tiers,
            (i) louer, céder, vendre, distribuer, offrir dans le cadre d’un bureau de services, accorder en sous-
            licence ou mettre à disposition d’un tiers le Service; (ii) copier, reproduire, décompiler,
            rétroconcevoir, tenter de découvrir le code source, modifier ou créer des œuvres dérivées du
            Service, ou de toute partie de celui-ci ; (iii) accéder au Service aux fins d’évaluer ses performances
            ; (iv) accéder au Service aux fins de créer ou de commercialiser un produit concurrent ; (v) utiliser
            le Service pour stocker ou transmettre un virus ou un code malveillant ; (vi) utiliser un réseau privé
            virtuel (VPN) pour contourner le processus de tarification ou d’accès au contenu basé sur la
            localisation géographique ; (vii) utiliser le Service pour transmettre des e-mails non sollicités ou se
            livrer à du spamming ; ou (viii) contourner les mesures que nous pouvons utiliser pour empêcher
            ou restreindre l’accès au Service.</p></br></br>

            <h2>Sécurité et confidentialité des données</h2></br></br>

            <p><span class="fw-bold">Sécurité des informations.</span> Edudev met en œuvre et maintien des mesures de sécurité physiques,
            techniques et administratives destinées à protéger vos informations contre tout accès,
            destruction, utilisation, modification ou divulgation non autorisés.</p></br></br>

            <p><span class="fw-bold">Confidentialité des données.</span> La Politique de confidentialité de Edudev décrit comment Edudev
            collecte, utilise, transfère, divulgue et stocke vos données à caractère personnel. En créant un
            compte Edudev, vous confirmez avoir lu, compris et accepté notre Politique de
            Confidentialité dans son intégralité, et que l’Addenda sur le traitement des données sera intégré
            aux présentes Conditions dans la mesure où les Données à caractère personnel soumises aux Lois
            sur les données applicables sont traitées dans le cadre de votre utilisation du Service. En cas de
            conflit entre les présentes Conditions et la Politique de Confidentialité, la Politique de
            Confidentialité prévaudra.</p></br></br>

            <h2>Contenu et Projets</h2></br></br>

            <p><span class="fw-bold"> Contenu utilisateur.</span> Vous déclarez et garantissez que vous possédez tous les droits, titres et
            intérêts relatifs à votre Contenu utilisateur ou que vous avez obtenu tous les droits nécessaires sur
            votre Contenu utilisateur afin d’en permettre l’accès, l’utilisation et la distribution tel que prévu
            par les présentes Conditions. Dans le cadre de votre relation avec Edudev, vous êtes propriétaire
            de tous les droits, titres et intérêts relatifs à votre Contenu utilisateur. Vous accordez à Edudev
            une licence libre de redevance pour afficher, héberger, copier et utiliser votre Contenu utilisateur
            uniquement dans la mesure nécessaire pour vous fournir le Service.</br></br>

            Lorsque vous importez du contenu sur Edudev, vous garantissez disposer des droits sur ce
            contenu. Nous ne devenons jamais propriétaires de votre contenu, mais nous avons besoin que
            vous nous accordiez certains droits pour le stocker et le mettre à votre disposition afin que vous
            puissiez l’utiliser dans vos Projets.</p></br></br>

            <p><span class="fw-bold">Projets.</span> Vos Projets peuvent contenir une combinaison de Contenu utilisateur bien que vous
            conserviez la propriété de votre Contenu utilisateur.</br></br>
            Nous ne sommes jamais propriétaires de vos Projets, mais certaines restrictions peuvent
            s’appliquer en fonction des types de contenus fournis par Edudev que vous avez inclus dans vos
            Projets.</p></br></br>

            <p><span class="fw-bold">Partage et publication de vos Projets.</span> Vous pouvez publier ou partager des Projets avec d’autres
            personnes au sein du Service, par l’intermédiaire d’un Service de tiers ou d’un lien. Edudev
            n’assume aucune responsabilité à l’égard d’un tel partage de Projets et la mise à disposition par
            Edudev d’une telle activité ou l’exécution par le Service d’actions visant à partager publiquement
            des Projets à votre demande ne doit pas être considérée comme une violation d’une quelconque
            obligation de Edudev en vertu des présentes Conditions. Vous êtes responsable des personnes
            avec lesquelles vous les partagez et de la manière dont vous le faites.</p></br></br>

            <p><span class="fw-bold">Résiliation.</span> Vous pouvez cesser d’utiliser le Service à tout moment via les paramètres de votre
            compte.</p></br></br>

            <h2>Propriété intellectuelle de Edudev</h2></br></br>

            <p>Sauf disposition expresse aux présentes, tous les droits de propriété intellectuelle relatifs au
            Service demeurent la propriété exclusive de Edudev. Vous cédez à Edudev toutes les suggestions,
            idées, demandes d’amélioration ou autres commentaires que vous fournissez à Edudev
            concernant le Service ou les produits de Edudev. Edudev est propriétaire de l’ensemble du
            contenu, des données, des logiciels, des inventions, des idées et des autres technologies et
            propriétés intellectuelles qu’elle développe en relation avec le Service et ses produits.
            Nos utilisateurs nous donnent d’excellentes idées sur la manière d’améliorer Edudev. Si vous nous
            faites part de vos commentaires ou de vos suggestions, vous nous autorisez à utiliser ces
            informations pour améliorer Edudev, et nous sommes propriétaires de toutes les améliorations
            que nous apportons.</br></br>
            <span class="fw-bold">Exclusion de garantie. Le Service est fourni « en l’état » et « tel que disponible ». Dans la mesure
            maximale autorisée par la loi applicable et sous réserve des droits et recours non exclusifs dont
            vous pouvez disposer en vertu de la loi applicable, Edudev décline expressément toute garantie
            de quelque nature que ce soit, qu’elle soit expresse ou implicite, y compris, mais sans s’y limiter,
            les garanties de qualité marchande, d’adéquation à un usage particulier ou de non-violation.
            Edudev ne garantit pas que votre utilisation du Service sera ininterrompue ou exempte
            d’erreurs. Edudev ne garantit pas qu’il vérifiera l’exactitude de vos données ni qu’il les
            conservera sans perte. Vous convenez que l’utilisation du Service implique nécessairement la
            transmission de vos données sur des réseaux que Edudev ne possède, n’exploite ou ne contrôle
            pas, et que Edudev n’est pas responsable de la perte, de l’altération, de l’interception ou du
            stockage de vos données sur ces réseaux. Edudev ne saurait être tenu responsable des retards,
            interruptions, défaillances de service ou autres problèmes inhérents à l’utilisation d’Internet et
            des communications électroniques ou de tout autre système échappant au contrôle raisonnable
            de Edudev.</span></br></br>

            Nous proposons le Service en l’état et ne pouvons être tenus responsables des éléments qui
            échappent à notre contrôle.</p></br></br>

            <h2>Vos obligations d’indemnisation</h2></br></br>

            <p>Vous acceptez, dans la mesure permise par la loi, de défendre, d’indemniser et de dégager
            Edudev, ses sociétés affiliées, ses dirigeants, ses directeurs, ses agents, ses concédants et ses
            employés de toute responsabilité en cas de réclamations, coûts, dommages, pertes,
            responsabilités et frais (y compris les honoraires raisonnables d’avocats) résultant de quelque
            manière que ce soit de (i) la violation des présentes Conditions ou (ii) du Contenu utilisateur.
            Si Edudev subit un préjudice en raison de votre contenu ou de votre violation des présentes
            Conditions, ou si quelqu’un tente de tenir Edudev pour responsable de votre contenu ou de vos
            violations, vous serez responsable de tous les frais encourus par Edudev et de sa défense.</p></br></br>

            <h2>Limitation de responsabilité</h2></br></br>

            <p class="fw-bold">La responsabilité cumulée de l’une ou l’autre des parties en vertu des présentes (qu’elle découle
            d’un contrat, d’un délit, d’une négligence, d’une responsabilité délictuelle stricte, d’une loi ou
            d’une autre source) ne peut, en aucun cas, dépasser la somme de 100 USD. Les limitations
            précédentes ne s’appliquent pas aux responsabilités découlant de vos obligations
            d’indemnisation ou de votre violation de l’article intitulé « Restrictions d’utilisation du Service ».</br></br>
            En aucun cas, l’une ou l’autre des parties ne saurait être tenue responsable de dommages,
            pertes ou frais consécutifs, accidentels, indirects, spéciaux, exemplaires ou punitifs (y compris,
            mais sans s’y limiter, l’interruption d’activité, le manque à gagner ou la perte de profits), et ce,
            même si elle a été informée de leur existence possible et si tout recours manque à son objet
            premier. Les précédentes limitations ne s’appliquent pas aux responsabilités découlant de vos
            obligations d’indemnisation ou de votre violation de l’article intitulé « Restrictions d’utilisation
            du Service ».</br></br>
            Les présentes Conditions n’affectent pas les droits des consommateurs auxquels il est
            impossible de renoncer ou qui ne peuvent être limités en vertu de la loi. Elles n’excluent ni ne
            limitent la responsabilité découlant d’une négligence grave, d’une fraude ou d’une faute
            intentionnelle de l’une ou l’autre des parties.</p></br></br>

            <p><span class="fw-bold">Durée.</span>Les présentes Conditions prendront effet dès que vous commencerez à utiliser le Service et
            resteront en vigueur jusqu’à la suppression ou la fermeture de votre compte Edudev.</p></br></br>

            <p><span class="fw-bold">Violations.</span> Si Edudev, à sa seule discrétion, estime que vous, votre utilisation du Service, votre
            Contenu utilisateur ou vos Projets enfreignez les présentes Conditions, y compris, mais sans s’y
            limiter, l’article intitulé « Restrictions d’utilisation du Service » ou l’article intitulé « Anti-
            discrimination » (tout manquement à ces derniers étant considéré comme constituant une «
            Violation »), Edudev peut, à sa seule discrétion, prendre l’une ou plusieurs des mesures suivantes :
            (i) supprimer le Contenu utilisateur ou les Projets interdits ; (ii) suspendre votre accès au Service ;
            (iii) fermer et supprimer votre compte ainsi que tous les Projets et tout le Contenu utilisateur
            associés ; (iv) vous interdire définitivement d’utiliser le Service ; et/ou (v) divulguer le Contenu
            utilisateur ou les Projets aux autorités gouvernementales compétentes.</p></br></br>

            <p><span class="fw-bold">Survie des Conditions.</span> Les articles intitulés « Violations », « Propriété intellectuelle de Edudev », «
            Limitation de responsabilité », « Indemnisation » et « Divers » inclusivement, survivront à toute
            expiration ou résiliation des présentes Conditions.</p></br></br>

            <h2>Divers</h2></br></br>

            <p><span class="fw-bold">Conformité avec la loi applicable.</span> Vous acceptez de vous conformer à toutes les lois, conventions
            et réglementations locales, régionales, nationales et étrangères applicables, en rapport avec votre
            utilisation du Service. Edudev accepte de se conformer à toutes les lois, conventions et
            réglementations locales, régionales, nationales et étrangères applicables, en rapport avec la
            fourniture du Service.</p></br></br>

            <p><span class="fw-bold">Loi applicable et juridiction.</span> Les présentes Conditions seront régies et interprétées conformément
            aux lois françaises, sans tenir compte de ses dispositions en matière de conflit de lois. Toute action
            en justice ou procédure découlant des présentes Conditions sera portée exclusivement devant les
            tribunaux français, et les parties consentent à la compétence exclusive desdits tribunaux.</p></br></br>

            <p><span class="fw-bold">Restrictions à l’exportation.</span> Le Service est soumis à des sanctions commerciales et à des lois et
            réglementations qui régissent son importation, son exportation et son utilisation. Ces lois ou
            règlements peuvent interdire à Edudev de vous fournir le Service ou exiger que nous arrêtions de
            le mettre à votre disposition sans préavis. En utilisant le Service, vous acceptez de vous conformer
            à toutes les sanctions commerciales, lois et réglementations en matière d’exportation et
            d’importation et garantissez que (i) l’accès au Service ne vous est pas interdit et (ii) vous ne
            mettrez pas le Service à la disposition de toute personne à qui il est interdit d’y accéder en vertu
            des lois ou réglementations de toute juridiction.</p></br></br>

            <p><span class="fw-bold">Résolution des litiges.</span> En cas de litige découlant des présentes Conditions, contactez-nous et nous
            nous efforcerons de le résoudre avec vous. Si nous ne parvenons pas à résoudre un litige, vous et
            Edudev acceptez chacun de régler toute réclamation, tout litige ou toute controverse (à l’exclusion
            de toute réclamation de Edudev en vue d’une mesure injonctive ou de tout autre recours
            équitable) découlant de ou en rapport avec les présentes Conditions (collectivement, les «
            Réclamations ») par un arbitrage conformément aux articles 1452 et 1454 du Code de Procédure
            Civile. Chaque partie sera responsable du paiement des frais de dépôt, d’administration et
            d’arbitrage, conformément au Code de Procédure Civile. La sentence rendue par l’arbitre
            comprendra les coûts de l’arbitrage, les honoraires raisonnables des avocats et les coûts
            raisonnables des témoins experts et autres, et tout jugement sur la sentence rendue par l’arbitre
            pourra être inscrit dans tout tribunal de la juridiction compétente. Aucune disposition du présent
            article ne saurait empêcher l’une ou l’autre des parties de demander aux tribunaux une mesure
            injonctive ou tout autre recours équitable nécessaire pour empêcher l’infraction, le détournement
            ou la violation réelle ou présumée de la sécurité des données, des Droits de propriété
            intellectuelle ou de tout autre droit propriétaire de cette partie. Toutes les réclamations doivent
            être présentées à titre individuel par les parties, et non en tant que plaignant ou participant à une
            procédure collective ou représentative, et, sauf accord contraire de notre part, l’arbitre ne peut
            consolider les réclamations de plus d’une personne. Vous convenez qu’en concluant le présent
            accord, Edudev et vous-même renoncez chacun au droit à un procès devant un jury ou à la
            participation à un recours collectif.</p></br></br>


            <p><span class="fw-bold">Cession.</span> Vous ne pouvez pas céder les présentes Conditions ou l’un de vos droits en vertu des
            présentes Conditions sans le consentement de Edudev, sauf à un successeur par le biais d’une
            fusion, d’une acquisition ou d’un changement de direction. Edudev peut transférer ou céder tout
            ou partie de ses droits et obligations en vertu des présentes Conditions, à tout moment, avec ou
            sans préavis.</p></br></br>

            <p><span class="fw-bold">Titres et explications.</span>Les titres utilisés dans les présentes Conditions et les encadrés explicatifs
            sont uniquement fournis à titre indicatif et n’affectent en aucun cas la signification ou
            l’interprétation des Conditions ou de toute partie de celles-ci.</p></br></br>

            <p><span class="fw-bold">Autonomie des dispositions contractuelles.</span> Si une disposition particulière des présentes
            Conditions est jugée non valide ou inapplicable, elle n’affectera pas les autres dispositions et les
            Conditions seront interprétées à tous égards comme si cette disposition non valide ou inapplicable
            avait été limitée ou omise dans la mesure minimale nécessaire.</p></br></br>

            <p><span class="fw-bold">Renonciation.</span> La renonciation expresse de Edudev ou son manquement à faire appliquer toute
            disposition des présentes Conditions ne doit en aucun cas être interprété comme une renonciation
            présente ou future à ladite disposition et n’affecte pas la capacité de Edudev à appliquer toute
            disposition par la suite.</p></br></br>

            <p><span class="fw-bold">Avis.</span> Tous les avis obligatoires vous seront envoyés à l’adresse e-mail associée à votre compte ou
            par d’autres moyens légalement autorisés.</p></br></br>

            <p><span class="fw-bold">Modifcations des présentes Conditions.</span> Nous pouvons modifier les présentes Conditions (et
            toutes les politiques ou accords mentionnés aux présentes) à tout moment. Nous publierons la
            version la plus récente des présentes Conditions sur Edudev.com. Nous vous avertirons
            raisonnablement à l’avance de toute modification des Conditions qui, à notre entière appréciation,
            aurait une incidence négative importante sur vos droits ou votre utilisation du Service. Nous
            pouvons vous fournir cet avis par le biais du Service et/ou par courrier électronique à l’adresse e-
            mail associée à votre compte. En continuant à utiliser le Service après l’entrée en vigueur de toute
            modification des Conditions, vous acceptez d’être lié par les nouvelles Conditions.</p></br></br>

            <p><span class="fw-bold">Modifications du Service.</span> Edudev peut ajouter, modifier ou supprimer certaines fonctionnalités du
            Service, modifier ou instaurer des limitations de stockage ou d’autres fonctionnalités, ou
            interrompre complètement le Service à tout moment.</p></br></br>

            <p><span class="fw-bold">Intégralité de l’Accord.</span> Les présentes Conditions et les conditions et politiques qui y sont
            mentionnées, constituent l’intégralité de l’accord entre vous et Edudev vis-à-vis du Service. Les
            présentes Conditions remplacent toutes les déclarations, accords ou ententes antérieurs entre
            vous et Edudev, qu’ils soient écrits ou oraux, en rapport avec le Service, y compris les versions
            précédentes des Conditions. Toutes les modalités, conditions ou dispositions figurant sur un bon
            de commande seront sans effet, nonobstant toute acceptation dudit bon de commande.</p></br></br>
        
        </div>
    
    </div>

</section>

{% endblock %}