/* Main */

body::-webkit-scrollbar
{
    border-radius: 10px;
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #cfd4ff;
}

h1
{ 
    font-family: 'Questrial', 'sans-serif';
    font-size: 4rem;
    font-weight: bold;
}

h5 
{
    font-family: 'Questrial', 'sans-serif';
}

h2 
{ 
    font-size: 1.5rem;
}

.nav-title 
{ 
    text-decoration: none;
    font-family: 'Questrial', 'sans-serif';
    font-size: 1.5rem;
    font-weight: bold;
}

.title-section 
{
    font-family: 'Questrial', 'sans-serif';
    font-size: 2.5rem;
    font-weight: bold;
}

.tech-section 
{
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Home page */
    /* Top section */

.top-section 
{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(#fff, #cfd4ff);
}

.price 
{ 
    font-size : 0.8rem;
}

    /* Popular project */

.projects 
{ 
    border: solid 1px #d7daff;
    border-radius: 1%;
}

.projects:hover 
{ 
    background-color: #f0f1f9;
}

.project-image 
{ 
    border-radius: 10%;
}

    /* Edudev's utility */

.edudev-features 
{
    background-color: #fafbff; 
    border: solid 1px #d7daff;
    border-radius: 2%;
}

.edudev-student 
{
    background-color: #fafffd; 
    border: solid 1px #71b194;
    border-radius: 2%;
}

/* Select the right sections to display */
.none-class
{
   display: none;
}

    /* Technologie's list */

.languages-img 
{ 
    width: 120px;
    height: 120px;
    border-radius: 20%;
}


/* About Us Page */

.top-about-us 
{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(#fff, #cfd4ff);
}