{% extends 'base.html.twig' %}

{% block title %}Mes Informations{% endblock %}

{% block body %}
<!-- Form Section -->
<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">Modifier mes informations</h1>

            <div class="my-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}