{% extends 'base.html.twig' %}

{% block title %}Mes Informations{% endblock %}
{% block meta_description %}
<meta name="description" content="Modifiez les informations de votre profil Edudev à votre convenance. Faites savoir aux autres membres vos disponibilités, votre niveau d'études ou encore les technologies que vous appréciez le plus !">
{% endblock %}

{% block body %}
<!-- Form Section -->
<section>
    <div class="height-section container">
        <div class="row">
            <h1 class="text-center my-5">Modifier mes informations</h1>

            <div class="my-3">
                {{ form(form, {attr:{"novalidate": "novalidate"}}) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}