{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}
{% block meta_description %}
<meta name="description" content="Accédez à votre profil Edudev ou aux projets technologiques que vous avez déjà proposé afin de les modifier ou de supprimer les informations que vous souhaitez.">
{% endblock %}

{% block stylesheets %}
{# My style.css Sheet's link #}
<link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block body %}
<section class="h-100">

    <div class="container" id="my_profile">

        <div class="row">

            <div class="col-12 p-3">
                <h1 class="text-center my-5">Mon profil</h1>
            </div>

            <div class="d-flex flex-wrap justify-content-md-between col-12">
                
                <a class="text-decoration-none col-12 col-md-5" href="{{ path("app_current_user_projects")}}">
                <article class="my-projects profile-part d-flex align-items-center align-items-md-start justify-content-md-center col-12 mb-3 m-md-0 border rounded">
                    <h2 class="p-2 col-3 col-md-12 fw-bold text-white text-center my-3">Mes projets</h2>
                </article>
                </a>

                <a class="text-decoration-none col-12 col-md-5" href="{{ path('app_current_user_informations') }}">
                <article class="my-informations profile-part d-flex align-items-center align-items-md-start justify-content-md-center col-12 mb-3 m-md-0 border rounded">
                    <h2 class="p-2 col-3 col-md-12 fw-bold text-white text-center my-3">Mes infos</h2>
                </article>
                </a>

            </div>

        </div>

    </div>

</section>
{% endblock %}