{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
{# My style.css Sheet's link #}
<link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block body %}
<section class="section-profile">
    <div class="container">
        <div class="row">

            <div class="col-12 p-3">
                <h1 class="text-center my-5">Mon profil</h1>
            </div>

            <div class="d-flex flex-wrap justify-content-md-between col-12">
                
                <a class="text-decoration-none col-12 col-md-5" href="{{ path("app_current_user_projects")}}">
                <div class="my-projects profile-part d-flex align-items-center align-items-md-start justify-content-md-center col-12 mb-3 m-md-0 border rounded">
                    <h2 class="p-2 col-3 col-md-12 fw-bold text-white text-center my-3">Mes projets</h2>
                </div>
                </a>

                <a class="text-decoration-none col-12 col-md-5" href="{{ path('app_current_user_informations') }}">
                <div class="my-informations profile-part d-flex align-items-center align-items-md-start justify-content-md-center col-12 mb-3 m-md-0 border rounded">
                    <h2 class="p-2 col-3 col-md-12 fw-bold text-white text-center my-3">Mes infos</h2>
                </div>
                </a>

            </div>
        </div>
    </div>
</section>
{% endblock %}